.formContent {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 10px;
  border: 1px solid #f0f0f0;
  box-shadow: 1px 2px #00000030;
}

.btnContainer {
  margin-top: 20px;
  padding: 0px 10px;
  display: flex;
}

.btnCancel {
  margin-left: 20px;
}

.loadingContainer {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.flex {
  display: flex;
  align-items: center;
}

.flexBetween {
  margin-top: 20px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}

.configDoneContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
  flex-direction: row;
  background-color: #fff;
  margin-top: 10px;
  border: 1px solid #f0f0f0;
  box-shadow: 1px 2px #00000030;
}

.configDoneIcon {
  font-size: 50px;
  color: green;
}

.configDoneSuccessText {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}
